<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-title><h1> Pagina principal </h1></ion-card-title>
      <br>
      <h2>Crismery Disla Vidal</h2>
      <p>Crismerydisla0550@gmail.com</p>
      <img src="assets/39.jpg" alt="Mi Foto" width="200" height="200">
    </ion-card-content>
  </ion-card>
</ion-content>
